@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_zh3_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_7h2_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_2Z2_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_zh2_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_wp2_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_-Zx_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_99x_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_7hx_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/HhyIU5gk9fW7OUdVIPh2wBPxSqQJ_5Fx_DM.ttf) format('truetype');
}
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/_gP_1RrxsjcxVyin9l9n_j2RSg.ttf) format('truetype');
}
